.navbar {
	width: 96.3%;
	background-image: url('https://envato-shoebox-0.imgix.net/7f2a/4b70-72c3-4cd0-bc0e-64771a4d2fff/DSC09847.jpg?auto=compress%2Cformat&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&w=700&fit=max&markalign=center%2Cmiddle&markalpha=18&s=31b2d4fd3a83e9bf6ffca90cb5338347');
	height: 3rem;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	
}

.navbar-brand img {
	height: 30px;
	margin-right: 15px;
}

.navbar-brand label {
	color: #000;
	font-weight: bold;
}

.navbar-nav {
	list-style-type: none;
	padding: 0;
	margin: 0rem;
	display: flex;
	margin-left: 45px;
}
.nav-item {
	margin-right: 20px;
}

.nav-item a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-item a:hover {
	color: #ff9900;
}
#navbar-icons {
	vertical-align: sub;
	height: 35px;
	margin-right: 10px;
}

.usersbtn {
	display: inline-block;
	background-color: #c7c7c7;
}

.section {
	display: flex;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}
.show {
	display: flex;
	background-color: rgb(101, 101, 101);
	flex-direction: column;
	position: absolute;
	top: 94px;
	left: 1256px;
	border-radius: 13px;
	height: 65vh;
	width: 250px;
	color: #ffffff;
	position: fixed;
}

h2 {
	display: flex;
	margin-left: 26%;
}
/* iphone 14 pro max */
@media (max-width: 431px) {
	.navbar {
		width: 87%;
		background-color: #c7c7c7;
		height: 2rem;
		padding: 10px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		background-image: url(http://localhost:3000/dist/1c93578….png);
	}
	.navbar-brand img {
		height: 17px;
		margin-right: 15px;
	}
	.nav-item a {
		color: #000;
		font-weight: bold;
		text-decoration: none;
		transition: color 0.3s ease;
		font-size: 0;
	}
	#navbar-icons {
		vertical-align: sub;
		height: 25px;
		margin-right: 15px;
		margin-left: -8px;
	}
	.navbar-nav {
		list-style-type: none;
		padding: 0;
		margin: 2rem;
		display: flex;
		margin-left: 9rem;
	}
	.show {
		display: flex;
		background-color: rgb(101, 101, 101);
		flex-direction: column;
		position: absolute;
		top: 94px;
		left: 44%;
		border-radius: 13px;
		height: 51vh;
		width: 234px;
		color: #ffffff;
		position: fixed;
	}
	h2 {
		display: flex;
		margin-left: 22%;
		font-size: 3vh;
	}
}
