.navbar {
	width: 100%;
	background-color: #c7c7c7;
	height: 3rem;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	background-image: url('../../../../imagenes/Group\ 3.png');
}

.navbar-brand img {
	height: 20px;
	margin-right: 15px;
}

.navbar-brand label {
	color: #000;
	font-weight: bold;
}

.navbar-nav {
	list-style-type: none;
	padding: 0;
	margin: 2rem;
	display: flex;
}

.nav-item {
	margin-right: 20px;
}

.nav-item a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-item a:hover {
	color: #ff9900;
}
#navbar-icons {
	vertical-align: sub;
	height: 35px;
	margin-right: 10px;
}

.usersbtn {
	display: inline-block;
	background-color: #c7c7c7;
}

.section {
	display: flex;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}
.show {
	display: flex;
	background-color: rgb(101, 101, 101);
	flex-direction: column;
	position: absolute;
	top: 94px;
	left: 1263px;
	border-radius: 13px;
	height: 65vh;
	width: 250px;
	color: #ffffff;
	position: fixed;
}

h2 {
	display: flex;
	margin-left: 26%;
}
