.container {
	background-image: url('https://pbs.twimg.com/media/GKHrydJWUAADY89?format=jpg&name=large');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); /* Opacidad del 50% (valor de 0.5) */
}

@media (max-width: 431px) {
	:host {
		display: block;
		position: sticky;
		background-size: cover;
	}
}
