@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

/* Colores */
:root {
  --primary-color: #d32f2f;
  /* Rojo deportivo */
  --secondary-color: #1b1b1b;
  /* Gris muy oscuro */
  --accent-color: #fbc02d;
  /* Amarillo brillante */
  --text-color: #ffffff;
  /* Blanco */
  --background-color: #e0e0e0;
  /* Gris claro */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-color);
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
  height: 30px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item a,
.nav-item p {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.nav-item p {
  margin-right: 10px;
}

.navbar-icons {
  vertical-align: middle;
  height: 30px;
  margin-right: 10px;
}

.nav-item a:hover,
.nav-item p:hover {
  color: var(--accent-color);
}

.nav-item {
  position: relative;
}

.account-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.dropdown-button:hover {
  background-color: var(--background-color);
}

.dropdown-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 431px) {
  .navbar-icons {
    vertical-align: middle;
    height: 16px;
    margin-right: 10px;
  }



  .nav-item a,
  .nav-item p {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-right: 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
  }

  .nav-item {
    position: relative;
    margin-left: 1rem;
  }
}